<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.book_management.mapper.BookMapper">
    <select id="getBookInfo" resultType="com.greenart.book_management.data.BookVO">
        select * from book_info order by bi_seq desc limit 10 offset #{offset}
    </select>
    <select id="getBookCount" resultType="java.lang.Integer">
        select count(*) from book_info
    </select>
    <insert id="addBook">
        insert into book_info(bi_title, bi_author, bi_price, bi_description, bi_stock, bi_category, bi_status)
        value (#{bi_title}, #{bi_author}, #{bi_price}, #{bi_description}, #{bi_stock}, #{bi_category}, #{bi_status})
    </insert>
    <delete id="deleteBook">
        delete from book_info where bi_seq=#{seq}
    </delete>
</mapper>