<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.book_management.mapper.BookMapper">
    <select id="getBookInfo" resultType="com.greenart.book_management.data.BookVO">
        select * from book_info where bi_title like #{keyword}
        order by bi_seq desc limit 10 offset #{offset}
    </select>
    <select id="getBookCount" resultType="java.lang.Integer">
        select count(*) from book_info where bi_title like #{keyword}
    </select>
    <insert id="addBook">
        insert into book_info(bi_title, bi_author, bi_price, bi_description, bi_stock, bi_category, bi_status)
        value (#{bi_title}, #{bi_author}, #{bi_price}, #{bi_description}, #{bi_stock}, #{bi_category}, #{bi_status})
    </insert>
    <delete id="deleteBook">
        delete from book_info where bi_seq=#{seq}
    </delete>
    <select id="getBookInfoBySeq" resultType="com.greenart.book_management.data.BookVO">
        select * from book_info where bi_seq = #{seq}
    </select>
    <update id="updateBook">
        update book_info
        set bi_title=#{bi_title}, bi_author=#{bi_author}, bi_price=#{bi_price}, bi_description=#{bi_description},
        bi_stock=#{bi_stock}, bi_category=#{bi_category}, bi_status=#{bi_status}, bi_mod_dt=NOW()
        where bi_seq=#{bi_seq}
    </update>
    <select id="selectLatestDataSeq" resultType="java.lang.Integer">
        select bi_seq from book_info order by bi_seq desc limit 1
    </select>
    <insert id="insertBookHistory">
        INSERT INTO book_db.book_history(bookh_type, bookh_content, bookh_bi_seq)
        VALUES(#{bookh_type}, #{bookh_content}, #{bookh_bi_seq})
    </insert>
    <select id="getBookByKeyword" resultType="com.greenart.book_management.data.BookVO">
        select bi_seq, bi_title, bi_author, bi_category, bi_status from book_info where bi_title like #{keyword}
    </select>
</mapper>